@font-face {
    font-family: 'Cantarell-Bold';
    src: url(../fonts/Cantarell/Cantarell-Bold.ttf);
}

@font-face {
    font-family: 'Cantarell-Regular';
    src: url(../fonts/Cantarell/Cantarell-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper {
    margin: 0 auto;
    width: 100%;

    header {
        width: 100%;
        height: 100vh;
        background-image: url(../img/header_background_v1.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        .top-wrapper {
            display: flex;
            justify-content: space-between;

            img {
                width: 150px;
                margin-left: 5px;
                padding-top: 7px;

            }

            nav {
                width: 58%;
                display: flex;

                a {
                    width: 34%;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $font-color-menu;
                    text-decoration: none;
                    font-family: $text-font-bold;
                    text-transform: uppercase;
                    letter-spacing: -1px;
                    border-right: 1px solid $border-color;
                    &:hover {
                        color: rgb(255, 246, 163);
                    }
                }
            }
        }

        section {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            h1 {
                color: $font-color-menu;
                font-family: $text-font-bold;
                text-transform: uppercase;
                font-size: 24px;
                letter-spacing: -2px;
                word-spacing: 4px;
                margin-bottom: 20px;
            }

            .btn-top {
                padding: 12px 55px;
            }

        }
    }

    .btn {
        padding: 8px 55px;
        text-align: center;
        text-transform: uppercase;
        font-family: $text-font-regular;
        font-size: 15px;
        text-decoration: none;
        color: $font-color-menu;
        background-color: $aqua-color;

        &:hover {
            background-color: $font-color-menu;
            color: $aqua-color;
            cursor: pointer;
        }
    }

    main {
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;

        .toolbar {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            input {
                border: 1px solid $border-color;
                padding: 10px 10px;

                &:hover {
                    border: 1px solid $aqua-color;
                    cursor: pointer;
                }
            }
        }

        h1 {
            text-align: end;
            text-transform: uppercase;
            font-family: $text-article-bold;
            margin-top: 13px;
            color: $article-text-color;
        }

        p {
            font-family: $text-article-regular;
            font-size: 15px;
            line-height: 23px;
            margin-bottom: 23px;
            color: $article-text-color;
            text-align: justify;
        }

        .post-list {
            article {
                display: flex;
                background-color: $article-background;
                padding: 10px;
                margin-bottom: 20px;

                img {
                    width: 290px;
                }

                .post,
                button {
                    margin-left: 15px;
                }

                .post {
                    margin-top: 8px;

                    .post-description {
                        color: rgb(233, 3, 3);
                        font-size: 12px;
                        font-family: $text-article-regular;
                        border-bottom: 1px solid $border-color;
                        padding-bottom: 9px;
                        margin-bottom: 9px;
                    }

                    h3 {
                        color: $aqua-color;
                        text-transform: uppercase;
                        font-family: $text-article-bold;
                        font-size: 18px;
                        margin-bottom: 3px;
                    }
                }

                .btn {
                    border: none;
                    padding: 7px 65px;
                    float: right;
                }
            }
        }

        .about {
            margin-top: 65px;

            img {
                width: 100%;
            }
        }

        .contact-form {
            h4 {
                text-align: end;
                text-transform: uppercase;
                font-family: $text-article-bold;
                color: $article-text-color;
                font-size: 15px;
                margin-bottom: 27px;
            }

            form {
                margin-bottom: 20px;

                .inputs {
                    display: flex;

                    :first-child {
                        margin-right: 14px;
                    }

                    div {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        text-align: end;

                        input {
                            width: 100%;
                            height: 41px;
                            border: 1px solid $border-color;
                            padding-left: 10px;

                            &:hover {
                                border: 1px solid $aqua-color;
                                cursor: pointer;
                            }
                        }
                    }
                }

                label {
                    color: $aqua-color;
                    font-family: $text-article-regular;
                    font-size: 12px;
                    margin-right: 0 !important;
                }

                .textarea-container {
                    width: 100%;
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    text-align: end;
                }

                #textarea {
                    border: 1px solid $border-color;
                    height: 110px;
                    padding: 5px 10px;

                    &:hover {
                        border: 1px solid $aqua-color;
                        cursor: pointer;
                    }
                }

                .btn {
                    border: none;
                    padding: 7px 65px;
                    float: right;
                    margin-top: 20px;
                }
            }
        }
    }

    footer {
        clear: both;
        padding: 14px 0;
        border-bottom: 1px solid rgba(96, 125, 139, 0.2);

        span {
            width: 100%;
            font-size: 11px;
            font-family: $text-article-regular;
            margin-left: 5px;
            padding-bottom: 43px;
        }
    }
}