$text-font-bold: 'Cantarell-Bold';
$text-font-regular: 'Cantarell-Regular';
$text-article-regular: 'Roboto-Regular';
$text-article-bold: 'Roboto-Bold';

$font-color-menu: rgb(222, 223, 225);

$aqua-color: rgb(1, 172, 172);

$article-background: rgb(239, 239, 239);
$article-text-color: rgb(1,15,22);

$border-color: rgb(96, 125, 139);